{# Load navigation_tags at the top of the file: #}
{% load navigation_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

<div class="container mt-auto">
    <footer class="container row">
        <div class="d-flex justify-content-center align-items-center affiliate-box col">
            {% with affiliate_text=settings.base.BrandSettings.affiliate_text affiliate_logo=settings.base.BrandSettings.affiliate_logo %}

                {% if affiliate_text or affiliate_logo %}
                    
                    {% if affiliate_logo %}
                        {% image affiliate_logo max-100x100 %}
                    {% endif %}
                    {% if affiliate_text %}
                        {{ affiliate_text|richtext }}
                    {% endif %}
                {% endif %}

            {% endwith %}
        </div>

        <div class="container col">
            <p class="d-flex justify-content-center" id="last-updated-slug">Updated June 2025</p>
            <p class="d-flex justify-content-center" id="designed-by-slug">Site designed and built by Olivia Kelly</p>

            {% with youtube_url=settings.base.SocialMediaSettings.youtube facebook_url=settings.base.SocialMediaSettings.facebook instagram_url=settings.base.SocialMediaSettings.instagram linkedin_url=settings.base.SocialMediaSettings.linkedin discord_url=settings.base.SocialMediaSettings.discord bluesky_url=settings.base.SocialMediaSettings.bluesky %}
                {% if youtube_url or facebook_url or instagram_url or linkedin_url or discord_url or bluesky_url %}
                    <p class="d-flex justify-content-center">
                        {% if discord_url %}
                            <a class="social-media-link" href="{{ discord_url }}"><i class="fa-brands fa-discord"></i></a>
                        {% endif %}
                        {% if youtube_url %}
                            <a class="social-media-link" href="{{ youtube_url }}"><i class="fa-brands fa-youtube"></i></a>
                        {% endif %}
                        {% if facebook_url %}
                            <a class="social-media-link" href="{{ facebook_url }}"><i class="fa-brands fa-facebook"></i></a>
                        {% endif %}
                        {% if instagram_url %}
                            <a class="social-media-link" href="{{ instagram_url }}"><i class="fa-brands fa-instagram"></i></a>
                        {% endif %}
                        {% if linkedin_url %}
                            <a class="social-media-link" href="{{ linkedin_url }}"><i class="fa-brands fa-linkedin"></i></a>
                        {% endif %}
                        {% if bluesky_url %}
                            <a class="social-media-link" href="{{ bluesky_url }}"><i class="fa-brands fa-bluesky"></i></a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endwith %}
                </div>
        

        {% get_footer_text %}

    </footer>
</div>

