{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-aboutindexpage{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center align-items-center"><h1>{{ page.title }}</h1></div>

        <div class="intro">{{ page.intro|richtext }}</div>

        <div class="ms-auto publication-list">
            {% for publication in publicationpages %}
                {% with publication=publication.specific %}
                    <a href="{% pageurl publication %}">
                        <div class="d-flex justify-content-center align-items-center publications-child-box">
                            {% image publication.publication_pic width-250 %}
                            <div>
                                <h2>{{ publication.name }}</h2>
                                <p>{{ publication.teaser }}</p>
                            </div>
                            
                        </div>
                    </a>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}