{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-aboutindexpage{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ page.title }}</h1>

        <div class="intro">{{ page.intro|richtext }}</div>
        <div class="ms-auto profile-list">
            {% for profile in aboutpages %}
                {% with profile=profile.specific %}
                    <a href="{% pageurl profile %}">
                        <div class="d-flex justify-content-center align-items-center about-child-box">
                            
                                {% image profile.profile_pic max-50x50 %}
                                <div>
                                    <h2>{{ profile.name }}</h2>
                                    <p>{{ profile.role }}</p>
                                </div>
                            
                        </div>
                    </a>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}